<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brains.prj.tianjiu.order.orm.AddressMapper">

    <resultMap id="cityResultMap" type="com.brains.prj.tianjiu.order.domain.CityInfo">
        <id property="id" column="id"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="country" column="country"/>
    </resultMap>

    <select id="getAllCityInfo" resultMap="cityResultMap">
        SELECT * FROM cities WHERE id>0
    </select>

    <select id="getCityInfoById" resultMap="cityResultMap">
        SELECT * FROM cities WHERE id=#{id}
    </select>

    <select id="getProvinces" resultType="String">
      SELECT DISTINCT(province) FROM cities;
    </select>

    <select id="getProvinceCities" resultType="String">
        SELECT DISTINCT(city) FROM cities WHERE province=#{province}
    </select>

    <select id="getCityCountries" resultType="String">
        SELECT country FROM cities WHERE province=#{province} AND city=#{city}
    </select>

    <select id="getCityInfoByName" resultMap="cityResultMap">
        SELECT * FROM cities WHERE province=#{province} AND city=#{city} AND country=#{country}
    </select>

    <resultMap id="userAddressResultMap" type="com.brains.prj.tianjiu.order.domain.UserAddress">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="country" column="country"/>
        <result property="address" column="address"/>
        <result property="zipCode" column="zip_code"/>
        <result property="recvName" column="recv_name"/>
        <result property="recvPhone" column="recv_phone"/>
        <result property="recvEmail" column="recv_email"/>
        <result property="state" column="state"/>
    </resultMap>

    <select id="getAddressById" parameterType="int" resultMap="userAddressResultMap">
        SELECT * FROM user_address WHERE id=#{id}
    </select>

    <select id="getUserAddresses" parameterType="int" resultMap="userAddressResultMap">
        SELECT * FROM user_address WHERE user_id=#{userId}
    </select>

    <insert id="addUserAddress" parameterType="com.brains.prj.tianjiu.order.domain.UserAddress" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_address(user_id, province, city, country, address, zip_code, recv_name, recv_phone, recv_email, state)
          VALUES(#{userId}, #{province}, #{city}, #{country}, #{address}, #{zipCode}, #{recvName}, #{recvPhone}, #{recvEmail}, #{state})
    </insert>

    <delete id="delUserAddress">
        DELETE FROM user_address WHERE user_id=#{userId} AND id=#{id}
    </delete>

    <update id="modUserAddress" parameterType="com.brains.prj.tianjiu.order.domain.UserAddress">
        UPDATE user_address SET province=#{province}, city=#{city}, country=#{country},
        address=#{address}, zip_code=#{zipCode}, recv_name=#{recvName}, recv_phone=#{recvPhone}, recv_email=#{recvEmail}
        WHERE user_id=#{userId} AND id=#{id}
    </update>

</mapper>