<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brains.prj.tianjiu.order.orm.GoodsMapper">

    <resultMap id="goodsResultMap" type="com.brains.prj.tianjiu.order.domain.GoodsItem">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="price" column="price"/>
        <result property="marketPrice" column="market_price"/>
        <result property="types" column="types"/>
        <result property="state" column="state"/>
        <result property="degree" column="degree"/>
        <result property="volume" column="volume"/>
        <result property="img" column="img"/>
    </resultMap>

    <select id="getGoodsListByState" parameterType="int" resultMap="goodsResultMap">
      SELECT A.id, A.title, A.price, A.market_price, A.types, A.state, A.degree, A.volume,
          concat(B.file_location, '/', file_name) AS img
          FROM goods A LEFT JOIN upload_file B on A.id=B.owner_id WHERE A.state=#{state} AND B.owner_type=1 AND B.mark='s'
    </select>

    <select id="getGoodsItemById" parameterType="int" resultMap="goodsResultMap">
        SELECT A.id, A.title, A.price, A.market_price, A.types, A.state, A.degree, A.volume,
          concat(B.file_location, '/', file_name) AS img
          FROM goods A LEFT JOIN upload_file B on A.id=B.owner_id WHERE A.id=#{id} AND B.owner_type=1 AND B.mark='s'
    </select>

</mapper>