<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brains.prj.tianjiu.order.orm.OrderMapper">

    <parameterMap id="orderParameterMap" type="com.brains.prj.tianjiu.order.domain.Order">
        <parameter property="userId"/>
        <parameter property="orderCd"/>
        <parameter property="paymentId"/>
        <parameter property="deliveryId"/>
        <parameter property="shippingId"/>
        <parameter property="types"/>
        <parameter property="itemFee"/>
        <parameter property="deliveryFee"/>
        <parameter property="sumPrice"/>
        <parameter property="createdDate"/>
        <parameter property="state"/>
    </parameterMap>
    <parameterMap id="orderItemParameterMap" type="com.brains.prj.tianjiu.order.domain.OrderItem">
        <parameter property="orderId"/>
        <parameter property="itemId"/>
        <parameter property="itemType"/>
        <parameter property="promotionId"/>
        <parameter property="quantity"/>
        <parameter property="basePrice"/>
        <parameter property="price"/>
    </parameterMap>

    <insert id="createOrder" parameterMap="orderParameterMap" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO orders(user_id, order_cd, payment_id, delivery_id, shipping_id, types, item_fee, delivery_fee, sum_price, created_date, state)
          VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    </insert>
    <update id="setOrderCd">
        UPDATE orders SET order_cd=#{orderCd} WHERE id=#{orderId}
    </update>
    <insert id="createOrderItem" parameterMap="orderItemParameterMap">
        INSERT INTO order_item(order_id, item_id, item_type, promotion_id, quantity, base_price, price)
          VALUES(?, ?, ?, ?, ?, ?, ?)
    </insert>

    <update id="updateOrderPriceById">
        UPDATE orders SET sum_price=#{sumPrice} WHERE id=#{id}
    </update>

    <update id="updateOrderStateById">
        UPDATE orders SET state=#{state} WHERE id=#{orderId}
    </update>
    <update id="updateOrderStateByCd">
        UPDATE orders SET state=#{state} WHERE order_cd=#{orderCd}
    </update>

    <resultMap id="orderInfoResultMap" type="com.brains.prj.tianjiu.order.domain.Order">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="orderCd" column="order_cd"/>
        <result property="paymentId" column="payment_id"/>
        <result property="deliveryId" column="delivery_id"/>
        <result property="shippingId" column="shipping_id"/>
        <result property="types" column="types"/>
        <result property="itemFee" column="item_fee"/>
        <result property="deliveryFee" column="delivery_fee"/>
        <result property="sumPrice" column="sum_price"/>
        <result property="createdDate" column="created_date"/>
        <result property="orderDesc" column="order_desc"/>
        <result property="state" column="state"/>
    </resultMap>

    <select id="getUserOrderInfoById" resultMap="orderInfoResultMap">
        SELECT * FROM orders WHERE id=#{orderId} AND user_id=#{userId}
    </select>

    <select id="getUserOrderInfoByCd" resultMap="orderInfoResultMap">
        SELECT * FROM orders WHERE order_cd=#{orderCd} AND user_id=#{userId}
    </select>

    <select id="getUserOrderContainEvaItem" resultMap="orderInfoResultMap">
        SELECT * FROM orders WHERE id in
        (SELECT A.id FROM orders A, order_item B WHERE A.id=B.order_id AND
        A.user_id=#{userId} AND B.item_type=#{evaItemType} AND
        TIMESTAMPDIFF(HOUR, A.created_date, NOW()) &lt; #{checkHours} AND A.state IN
        <foreach collection="states" open="(" separator="," close=")" item="s">#{s}</foreach>) limit 10
    </select>

    <select id="getUserOrderBuyEvaItemSum" resultType="int">
        SELECT COALESCE(sum(B.quantity), 0) FROM orders A, order_item B WHERE A.id=B.order_id AND
        A.user_id=#{userId} AND B.item_type=#{evaItemType} AND
        TIMESTAMPDIFF(HOUR, A.created_date, NOW()) &lt; #{checkHours} AND A.state IN
        <foreach collection="states" open="(" separator="," close=")" item="s">#{s}</foreach>
    </select>

    <resultMap id="orderItemResultMap" type="com.brains.prj.tianjiu.order.domain.OrderItem">
        <id property="id" column="oid"/>
        <result property="orderId" column="order_id"/>
        <result property="itemId" column="item_id"/>
        <result property="itemType" column="item_type"/>
        <result property="promotionId" column="promotion_id"/>
        <result property="quantity" column="quantity"/>
        <result property="basePrice" column="base_price"/>
        <result property="price" column="price"/>
    </resultMap>

    <select id="getOrderItems" parameterType="int" resultMap="orderItemResultMap">
        SELECT *, id AS oid FROM order_item WHERE order_id=#{orderId}
    </select>

    <select id="getFoundRows" resultType="int">
        SELECT FOUND_ROWS() as foundRows;
    </select>

    <select id="getUserOrders" parameterType="int" resultMap="orderInfoResultMap">
        SELECT * FROM orders WHERE user_id=#{userId} limit 20
    </select>

    <select id="getOrdersItems" resultMap="orderItemResultMap">
        SELECT *, id AS oid FROM order_item WHERE order_id IN
        <foreach collection="ids" open="(" separator="," close=")" item="oid">#{oid}</foreach>
    </select>

    <select id="getUserOrdersByState" resultMap="orderInfoResultMap">
        SELECT * FROM orders WHERE user_id=#{userId} AND state IN
        <foreach collection="states" open="(" separator="," close=")" item="s">#{s}</foreach>
    </select>

    <parameterMap id="shippingInfoParameterMap" type="com.brains.prj.tianjiu.order.domain.ShippingInfo">
        <parameter property="province"/>
        <parameter property="city"/>
        <parameter property="country"/>
        <parameter property="address"/>
        <parameter property="zipCode"/>
        <parameter property="recvName"/>
        <parameter property="recvPhone"/>
        <parameter property="recvEmail"/>
    </parameterMap>

    <insert id="createShippingInfo" parameterMap="shippingInfoParameterMap" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO shipping_info(province, city, country, address, zip_code, recv_name, recv_phone, recv_email)
          VALUES(?, ?, ?, ?, ?, ?, ?, ?)
    </insert>

    <resultMap id="shippingInfoResultMap" type="com.brains.prj.tianjiu.order.domain.ShippingInfo">
        <id property="id" column="id"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="country" column="country"/>
        <result property="address" column="address"/>
        <result property="zipCode" column="zip_code"/>
        <result property="recvName" column="recv_name"/>
        <result property="recvPhone" column="recv_phone"/>
        <result property="recvEmail" column="recv_email"/>
    </resultMap>

    <select id="getShippingInfoById" parameterType="int" resultMap="shippingInfoResultMap">
        SELECT * FROM shipping_info WHERE id=#{id}
    </select>

    <select id="getOrdersByState" resultMap="orderInfoResultMap">
        SELECT * FROM orders WHERE user_id>0 AND state IN
        <foreach collection="states" open="(" separator="," close=")" item="s">#{s}</foreach>
    </select>

    <select id="getOrdersByPage" resultMap="orderInfoResultMap">
        SELECT SQL_CALC_FOUND_ROWS * FROM orders ORDER BY created_date DESC limit #{limit} offset #{offset}
    </select>

    <select id="getOrderInfoById" resultMap="orderInfoResultMap">
        SELECT * FROM orders WHERE id=#{orderId}
    </select>

    <select id="getOrderInfoByCd" resultMap="orderInfoResultMap">
        SELECT * FROM orders WHERE order_cd=#{orderCd}
    </select>

    <parameterMap id="orderStatusParameterMap" type="com.brains.prj.tianjiu.order.domain.OrderStatus">
        <parameter property="orderId"/>
        <parameter property="types"/>
        <parameter property="operator"/>
        <parameter property="info"/>
    </parameterMap>

    <insert id="createOrderStatus" parameterMap="orderStatusParameterMap">
        INSERT INTO order_status(order_id, types, operator, info) VALUES(?, ?, ?, ?)
    </insert>

    <resultMap id="orderStatusResultMap" type="com.brains.prj.tianjiu.order.domain.OrderStatus">
        <id property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="types" column="types"/>
        <result property="operator" column="operator"/>
        <result property="info" column="info"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <select id="getOrderStatus" parameterType="int" resultMap="orderStatusResultMap">
        SELECT * FROM order_status WHERE order_id=#{orderId}
    </select>

    <parameterMap id="orderLogParameterMap" type="com.brains.prj.tianjiu.order.domain.OrderLog">
        <parameter property="userId"/>
        <parameter property="orderId"/>
        <parameter property="logType"/>
        <parameter property="logContent"/>
        <parameter property="logInfo"/>
    </parameterMap>

    <insert id="createOrderLog" parameterMap="orderLogParameterMap">
        INSERT INTO order_log(user_id, order_id, log_type, log_content, log_info) VALUES(?, ?, ?, ?, ?)
    </insert>

</mapper>