<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brains.prj.tianjiu.order.orm.AddressMapper">

    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <resultMap id="cityResultMap" type="com.brains.prj.tianjiu.order.domain.CityInfo">
        <id property="id" column="id"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="country" column="country"/>
    </resultMap>

    <select id="getAllCityInfo" resultMap="cityResultMap" useCache="true">
        SELECT * FROM cities WHERE id>0
    </select>

    <select id="getCityInfoById" resultMap="cityResultMap">
        SELECT * FROM cities WHERE id=#{id}
    </select>

    <select id="getProvinces" resultType="String">
      SELECT DISTINCT(province) FROM cities;
    </select>

    <select id="getProvinceCities" resultType="String">
        SELECT DISTINCT(city) FROM cities WHERE province=#{province}
    </select>

    <select id="getCityCountries" resultType="String">
        SELECT country FROM cities WHERE province=#{province} AND city=#{city}
    </select>

    <select id="getCityInfoByName" resultMap="cityResultMap">
        SELECT * FROM cities WHERE province=#{province} AND city=#{city} AND country=#{country}
    </select>

    <resultMap id="userAddressResultMap" type="com.brains.prj.tianjiu.order.domain.UserAddress">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="citiesId" column="cities_id"/>
        <result property="address" column="address"/>
        <result property="zipCode" column="zip_code"/>
        <result property="recvName" column="recv_name"/>
        <result property="recvPhone" column="recv_phone"/>
        <result property="recvEmail" column="recv_email"/>
        <result property="state" column="state"/>
    </resultMap>

    <select id="getUserAddresses" parameterType="int" resultMap="userAddressResultMap" useCache="false">
        SELECT * FROM usr_address WHERE user_id=#{userId}
    </select>

    <select id="getAddressById" parameterType="int" resultMap="userAddressResultMap">
        SELECT * FROM usr_address WHERE id=#{id}
    </select>

    <parameterMap id="userAddressParameterMap" type="com.brains.prj.tianjiu.order.domain.UserAddress">
        <parameter property="userId"/>
        <parameter property="citiesId"/>
        <parameter property="address"/>
        <parameter property="zipCode"/>
        <parameter property="recvName"/>
        <parameter property="recvPhone"/>
        <parameter property="recvEmail"/>
        <parameter property="state"/>
    </parameterMap>

    <insert id="addUserAddress" parameterMap="userAddressParameterMap" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO usr_address(user_id, cities_id, address, zip_code, recv_name, recv_phone, recv_email, state)
          VALUES(?, ?, ?, ?, ?, ?, ?, ?)
    </insert>

</mapper>