<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brains.prj.tianjiu.order.orm.AddressMapper">

    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <resultMap id="cityResultMap" type="com.brains.prj.tianjiu.order.domain.CityInfo">
        <id property="id" column="id"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="country" column="country"/>
    </resultMap>

    <select id="getAllCityInfo" resultMap="cityResultMap" useCache="true">
        SELECT * FROM cities WHERE id>0
    </select>

    <select id="getCityInfo" resultMap="cityResultMap">
        SELECT * FROM cities WHERE id=#{id}
    </select>

    <select id="getProvinceList">
      SELECT DISTINCT(province) FROM cities;
    </select>

    <select id="getProvinceCity" parameterType="String">
        SELECT city FROM cities WHERE province=#{province}
    </select>

    <select id="getCityCountry">
        SELECT country FROM cities WHERE province=#{province} AND city=#{city}
    </select>

    <resultMap id="userAddressResultMap" type="com.brains.prj.tianjiu.order.domain.UserAddress">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="citiesId" column="cities_id"/>
        <result property="address" column="address"/>
        <result property="zipCode" column="zip_code"/>
        <result property="recvName" column="recv_name"/>
        <result property="recvPhone" column="recv_phone"/>
        <result property="recvEmail" column="recv_email"/>
        <result property="state" column="state"/>
    </resultMap>

    <select id="getUserAddress" parameterType="int" resultMap="userAddressResultMap">
        SELECT * FROM usr_address WHERE user_id=#{userId}
    </select>

</mapper>