<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brains.prj.tianjiu.order.orm.OrderMapper">

    <parameterMap id="orderParameterMap" type="com.brains.prj.tianjiu.order.domain.Order">
        <parameter property="userId"/>
        <parameter property="orderCd"/>
        <parameter property="paymentId"/>
        <parameter property="deliveryId"/>
        <parameter property="shippingId"/>
        <parameter property="types"/>
        <parameter property="sumPrice"/>
        <parameter property="createdDate"/>
        <parameter property="state"/>
    </parameterMap>
    <parameterMap id="orderItemParameterMap" type="com.brains.prj.tianjiu.order.domain.OrderItem">
        <parameter property="orderId"/>
        <parameter property="itemId"/>
        <parameter property="itemType"/>
        <parameter property="promotionId"/>
        <parameter property="quantity"/>
        <parameter property="basePrice"/>
        <parameter property="price"/>
    </parameterMap>

    <insert id="createOrder" parameterMap="orderParameterMap" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO orders(user_id, order_cd, payment_id, delivery_id, shipping_id, types, sum_price, created_date, state)
          VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
    </insert>
    <insert id="createOrderItem" parameterMap="orderItemParameterMap">
        INSERT INTO order_item(order_id, item_id, item_type, promotion_id, quantity, base_price, price)
          VALUES(?, ?, ?, ?, ?, ?, ?)
    </insert>
    <update id="updateOrderPriceById" parameterType="int">
        UPDATE order SET sum_price=#{sumPrice} WHERE id=#{id}
    </update>

    <resultMap id="orderInfoResultMap" type="com.brains.prj.tianjiu.order.domain.Order">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="orderCd" column="order_cd"/>
        <result property="paymentId" column="payment_id"/>
        <result property="deliveryId" column="delivery_id"/>
        <result property="shippingId" column="shipping_id"/>
        <result property="types" column="types"/>
        <result property="sumPrice" column="sum_price"/>
        <result property="createdDate" column="created_date"/>
        <result property="orderDesc" column="order_desc"/>
        <result property="state" column="state"/>
    </resultMap>

    <select id="getUserOrderInfo" resultMap="orderInfoResultMap">
        SELECT * FROM orders WHERE id=#{orderId} AND user_id=#{userId}
    </select>

    <resultMap id="detailOrderItemResultMap" type="com.brains.prj.tianjiu.order.domain.OrderItem">
        <id property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="userId" column="user_id"/>
        <result property="itemId" column="item_id"/>
        <result property="itemType" column="item_type"/>
        <result property="promotionId" column="promotion_id"/>
        <result property="quantity" column="quantity"/>
        <result property="basePrice" column="base_price"/>
        <result property="price" column="price"/>
        <association property="productItem" javaType="com.brains.prj.tianjiu.order.domain.ProductItem">
            <id property="id" column="product_id"/>
            <result property="name" column="product_name"/>
            <result property="img" column="product_img"/>
            <result property="price" column="product_price"/>
        </association>
    </resultMap>

    <select id="getOrderItems" parameterType="int" resultMap="detailOrderItemResultMap">
        SELECT A.*, B.id AS product_id, B.name AS product_name, B.img AS product_img, B.price AS product_price
         FROM order_item A, product_item B WHERE A.item_id=B.id AND A.order_id=#{orderId}
    </select>

    <resultMap id="orderStatusResultMap" type="com.brains.prj.tianjiu.order.domain.OrderStatus">
        <id property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="type" column="type"/>
        <result property="operator" column="operator"/>
        <result property="info" column="info"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <select id="getOrderStatus" parameterType="int" resultMap="orderStatusResultMap">
        SELECT * FROM order_status WHERE order_id=#{orderId}
    </select>

</mapper>