<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brains.prj.tianjiu.order.orm.OrderMapper">

    <insert id="addProductItem" parameterType="com.brains.prj.tianjiu.order.domain.ProductItem" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO product_item(name, img) VALUES(#{name}, #{img})
    </insert>

    <resultMap id="productItemResultMap" type="com.brains.prj.tianjiu.order.domain.ProductItem">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="img" property="img"/>
        <result column="price" property="price"/>
        <result column="state" property="state"/>
    </resultMap>

    <select id="getItemList" resultMap="productItemResultMap">
      SELECT * FROM product_item LIMIT 100
    </select>

    <select id="getItemById" resultMap="productItemResultMap">
        SELECT * FROM product_item WHERE id=#{itemId}
    </select>

</mapper>