<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brains.prj.tianjiu.order.orm.PaymentMapper">

    <resultMap id="paymentResultMap" type="com.brains.prj.tianjiu.order.domain.PaymentInfo">
        <id property="id" column="id"/>
        <result property="payCd" column="pay_cd"/>
        <result property="payDesc" column="pay_desc"/>
        <result property="fee" column="fee"/>
        <result property="state" column="state"/>
    </resultMap>

    <select id="getPaymentsByState" resultMap="paymentResultMap">
        SELECT * FROM payment_info WHERE state=#{state}
    </select>

    <select id="getPaymentById" resultMap="paymentResultMap">
        SELECT * FROM payment_info WHERE id=#{id}
    </select>

</mapper>